/*-----Main Style-----*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    background: #616161;
    padding: 100px 0 0 0;
    margin: 0;
}

p {
    margin: 8px 0 0 0;
}

.container {
    background: #424242;
    color: #FFF;
    border-radius: 10px;
    box-shadow: 5px 5px 25px 0px rgba(200,255,0,0.75);
    width: 400px;
    margin: 15px auto;
    padding: 15px;
}

/*.container p {*/
/*    text-align: center;*/
/*    padding: 0;*/
/*}*/

h1 {
    padding: 10px;
    margin: 10px auto 10px auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

/*-----Header-----*/
header a ~ p {
    display: inline;
    padding: 5px;
}

.header-right {
    padding-right: 20px;
}

.logo-header {
    vertical-align: middle;
    float: left;
    margin-top: 5px;
    height: 40px;
    width: 170px;
}

header {
    position: fixed;
    width: 100%;
    text-align: right;
    background-color: #212121;
    color: #FFF;
    height: 40px;
    top: 0;
    padding: 0 10px 15px 10px;
    font-weight: 300;
    box-shadow: 0 0 25px 0 rgba(200,255,0,0.75);
}

.signed-in {
    padding-right: 20px;
    vertical-align: middle;
}
.not-signed-in {
    height: 50px;
    padding-right: 20px;
    vertical-align: middle;
    float: right;
    margin-top: 5px;
}

.login-button {
    height: 40px;
    width: 75px;
    background: #c8ff00;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 7px;
}

.login-button:hover {
    cursor: pointer;
    background: #F4FF81;
}

header a {
    font-weight: bold;
    text-decoration: none;
}

header a {
    color: #C6FF00;
}

header a:hover {
    color: #F4FF81;
}

.hide {
    display: none;
}

/*-----Home Page-----*/
.home-container {
    width: 100%;
    top: 40px;
    position: absolute;
    height: 325px;
    background: #80CBC4;
    z-index: -1;
    padding-top: 50px;
    text-align: center;
}

.home-container div {
    display: block;
}

/*-----Search Widgit-----*/

input {
    border: none;
    border-radius: 3px;
    margin: 5px 0 20px 0;
    padding: 5px;
}

.search-bar {
    margin: 10px;
}

.search form {
    text-align: right;
}

.submit {
    padding: 10px;
    background: #C6FF00;
    color: #000;
}

.submit:hover {
    background: #F4FF81;
}

/*-----Image Style-----*/
.logo-pic {
    width: 150px;
    height: 150px;
    margin: 15px auto;
    display: block;
}

.logo-icon {
    width: 40px;
    height: 40px;
}

.yelp {
    transform: scale(0.2, 0.2);
}

/*-----Login Page-----*/
a.btn {
    text-decoration: none;
}

.btn {
    color: #009688;
    background: none;
    display: inline-block;
    border: 0;
    font-weight: 500;
    font-size: 40px;
    margin: 5px 10px 0px 10px;
}

.title-text {
    font-size: 75px;
}

.btn:focus {
    outline: 0;
}

.btn:hover{
    color: #F00;
}

/*-----Bar Page-----*/
.bar-name {
    font-size: 32px;
    color: #C6FF00;
    margin-bottom: 15px;
}

.yelpLink {
    text-decoration: none;
}

.details {
    margin-bottom: 15px;
}

.bar-phone {
    color: #c3c3c3;
    font-style: italic;
}

.going-div {
    border-radius: 10px;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
}

.going-header {
    margin: 5px;
}

.button-holder button {
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    background: #C6FF00;
    font-weight: bold;
}

.button-holder button:hover {
    cursor: pointer;
    background: #F4FF81;
}

/*-----Search Results Page-----*/
.container-search {
    background: #424242;
    color: #FFF;
    border-radius: 10px;
    box-shadow: 5px 5px 25px 0px rgba(200,255,0,0.75);
    width: 600px;
    margin: 15px auto;
    padding: 15px;
}

.results-header {
    font-size: 24px;
}

.result{
    height: 100px;
}

.barImg {
    display: inline;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.barInfo {
    display: inline-box;
}

.barLink {
    color: #C6FF00;
    vertical-align: middle;
}

.barName {
    display: inline;
}

/*-----Error Page-----*/
button.home {
    height: 40px;
    width: 75px;
    background: #ffa000;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 20px auto 10px auto;
    font-weight: bold;
    font-size: 18px;
}

button.home:hover {
    background: #FFD54F;
    cursor: pointer;
}