html
    head
        title Error
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    body
        .container
            h1.heading Looking in the wrong places!
            img.logo-pic(src="/client/img/StalkMarketLogo.png")
            p.error-text Keep your eyes in the right place. Go home.
            a(href="/")
                button.home HOME