html
    head
        title Error
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    body
        .container
            h1.heading Wrong Way!
            img.logo-pic(src="/client/img/NyteLyfeLogo.png")
            p.error-text You're not supposed to be here. Go home, you're drunk.
            a(href="/")
                button.home HOME