doctype html
html
    head
        title Stalk Market
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    include ./includes/header.jade
    body
        .container-home
            img.logo-main(src="/client/img/StalkMarketLogo.png")
            p.home-content
            | Welcome to Stalk Market
            br
            | For when you want to keep a close eye on your beloved stocks.
            .search
                form(action="/search" method="get")
                    input.search-stock(type="text" name="stock")
                    input.submit(type="submit" value="SEARCH")
            .credit
                p Powered by 
                    img.mod(src="/client/img/modLogo.png")
    script(type="text/javascript" src="/common/ajax-functions.js")
    script(type="text/javascript" src="/controllers/userController.client.js")