-var search = location || ""
doctype html
html
    head
        title Nyte Lyfe
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    include ./includes/header.jade
    body
        .container-home
            img.logo-main(src="/client/img/NyteLyfeLogo.png")
            p.home-content
            | Welcome to Nyte Lyfe
            br
            | Your one-stop site to look up bars in your area and see where your friends are going.
            br
            | You must be logged in to check in and have your location remembered.
            .search
                form(action="/search" method="get")
                    input.search-bar(type="text" name="loc" value=savedSearch)
                    input.submit(type="submit" value="SEARCH")
            .credit
                p Powered by 
                    img.yelp(src="/client/img/yelp.png")
    script(type="text/javascript" src="/common/ajax-functions.js")
    script(type="text/javascript" src="/controllers/userController.client.js")