-var formattedDate = stock.Timestamp.substring(0,stock.Timestamp.indexOf(":")-3)
-var formattedChange = stock.ChangePercent.toPrecision(5)
doctype html
html
    head
        title= stock.Name
        link(rel="stylesheet" href="/client/css/main.css" type="text/css")
    include ./includes/header.jade
    body
        .container
            h1.stock-symbol= stock.Symbol
            p.stock-name= stock.Name
            p.stock-price= stock.LastPrice
            p.stock-date As of: #[span.stock-date= formattedDate]
            p.stock-change-lbl Change:
            p.stock-change #[span.stock-change-data= formattedChange]%
        .container
            h3.watching-header Who's watching
            ul.watching-list
            .button-holder
                button.watch.hide WATCH
                button.unwatch.hide STOP WATCHING
        .container
            .stock-graph
                | A graph will go here
        script(type="text/javascript" src="/common/ajax-functions.js")
        script(type="text/javascript" src="/client/js/highstock.js")
        script(type="text/javascript" src="/controllers/userController.client.js")
        script(type="text/javascript" src="/controllers/graphController.client.js")
        script(type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js")
        script
            | var socket = io();